* {
    margin: 0;
}
h1 {
    padding-top: 7%;
    font-size: 5em;
}
.header {

    background-color: orange;
    height: 450px;
    text-align: center;
    
}
.video {
    height: 600px;
    width: 100%;
    border: 3px solid black;
}
.footer {
    background-color: green;
    height: 450px;
    text-align: center;
}